.snowflake {}

.photo {}

.btn {
  cursor: pointer;
  background-color: $tc_red;
  border: none;
  border-radius: 0.2rem;
  color: $tc_white;
  padding: 1.6rem 2rem;
  font-family: 'Oswald', Arial, Helvetica, sans-serif;
  font-size: 1.8rem;
  font-weight: $bold;
  text-decoration: none;
  text-transform: uppercase;
  text-rendering: optimizeLegibility;
  letter-spacing: 0.04em;
  outline: none;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  -webkit-transition: all 0.6s ease-in-out;

  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;

  &:hover {
    background-color: $tc_bluegreen;
  }
}

.btn--begin {}

.btn--guess {
  opacity: 0;

  -webkit-transform: translateX(-100px);
  transform: translateX(-100px);
}

.btn--continue {
  opacity: 1;

  -webkit-transform: translateX(0);
  transform: translateX(0);
}

.btn--share {}

form {}

select {
  option {
    &.is-blank {}
  }
}

.advent {}

.playlists-control {
  &.playlists-control--prev {}

  &.playlists-control--next {}
}

.score {
  &.score--correct {}

  &.score--incorrect {}
}

.signature {
  .love {}
}