#introduction {
  background-color: $tc_blue;
  text-align: center;

  .page-title {
    color: $tc_white;
    font-family: arial, helevetica, sans-serif;
    font-size: 4rem;
    font-weight: $bold;
    margin-bottom: 1.6rem;

    &:before {
      content: '';
    }
  }

  .body {
    margin-bottom: 3.4rem;
  }

  .btn {}
}