.playlist {
  &.is-unguessed {
    .btn--guess {
      opacity: 1;

      -webkit-transform: translateX(0);
      transform: translateX(0);
    }

    .btn--continue {
      opacity: 0;

      -webkit-transform: translateX(100px);
      transform: translateX(100px);
    }

    .playlist-guess__select {
      opacity: 1;
    }
  }

  &.is-correct {
    .playlist__author {
      color: $tc_bluegreen;
    }
  }

  &.is-incorrect {
    .playlist__author {
      /*color: $tc_red;*/
      color: $tc_red;
    }
  }

  .btn {
    bottom: 6rem;
    position: absolute;
  }
}

.playlist__container {}

.card {
  background-color: $tc_beige;
  box-shadow:
    0 0 0 0.2rem $tc_red,
    0 0 0 0.5rem $tc_beige,
    0 0 0 0.7rem $tc_bluegreen,
    0 0 0 1.8rem $tc_beige,
    0.8rem 0.8rem 1rem 1rem rgba(0,0,0, 0.06),
    1.6rem 1.6rem 2rem 2rem rgba(0, 0, 0, 0.12);
  padding: 3.4rem;
  position: relative;
}

.playlist__header {
  text-align: center;
  margin: 0 auto 3.4rem;
}

.playlist__intro {
  color: $tc_darkblue;
  font-family: 'Quintessential', Arial, Helvetica, sans-serif;
  font-size: 2rem;
  font-weight: $regular;
  margin-bottom: 1.2rem;
}

.playlist__attribution {}

.playlist__made-for {
  color: $tc_black;
  font-family: 'Oswald', Arial, Helvetica, sans-serif;
  font-size: 2.2rem;
  font-weight: $bold;
  margin-bottom: 2.2rem;

  .playlist__author {
    color: lightblue;

    -webkit-transition: color 0.3s ease-in-out;
    transition: color 0.3s ease-in-out;
  }
}

.playlist__title {
  color: $tc_black;
  font-family: 'Oswald', Arial, Helevetica, sans-serif;
  font-size: 4.4rem;
  font-weight: $bold;
  letter-spacing: 0.12em;
  text-shadow:
      -0.2rem 0.2rem 0 $tc_beige,
      -0.4rem 0.4rem 0 $tc_red,
      -0.5rem 0.5rem 0 $tc_beige,
      -0.7rem 0.7rem 0 $tc_bluegreen,
      0 0 4rem rgba(0,0,0, 0.2);
  text-transform: uppercase;
  margin-bottom: 2.2rem;
}

.playlist__content {
  overflow: hidden;
}

.playlist-guess__select {
  opacity: 0;
  border: none;
  border-bottom: 1px solid $tc_red;
  border-radius: 0;
  background-color: rgba(255,255,255, 0.5);
  color: $tc_black;
  padding: 1rem 1.6rem;
  cursor: pointer;
  width: 100%;
  font-family: 'Oswald', Helevetica, Arial, sans-serif;
  font-size: 2.8rem;
  font-weight: $light;
  margin: 5.4rem 0 3.4rem;
  outline: none;

  -webkit-transition: opacity 0.4s ease-in-out;
  transition: opacity 0.4s ease-in-out;

  -webkit-appearance: none;
  appearance: none;

  &:before {
    content: '';
    width: 0;
    height: 0;
    border-top: 1rem solid $tc_bluegreen;
    border-left: 1rem solid $tc_bluegreen;
    border-right: 1rem solid $tc_bluegreen;
    position: absolute;
    right: 0;
    top: 0;
    z-index: 999;
  }
}

.playlist__spotify {
  float: left;
  padding-right: 3.4rem;
}