.playlist {
  &.is-unguessed {
    .btn--guess {
      opacity: 1;

      -webkit-transform: translateX(0);
      transform: translateX(0);
    }

    .btn--continue {
      opacity: 0;

      -webkit-transform: translateX(100px);
      transform: translateX(100px);
    }

    .playlist-guess__select {
      opacity: 1;
    }
  }

  &.is-correct {
    .playlist__author {
      color: $tc_bluegreen;
    }
  }

  &.is-incorrect {
    .playlist__author {
      /*color: $tc_red;*/
      color: lightpink;
    }
  }
}

.playlist__container {}

.playlist__photo {}

.playlist__photo--made-for {

}

.playlist__photo--made-by {}

.playlist__photo--mystery {}

.playlist__photos {}

.playlist__header {
  text-align: center;
  margin: 3.4rem auto;
  padding: 2.2rem;
  background-color: $tc_white;
}

.playlist__intro {
  color: $tc_black;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.6rem;
  font-weight: $bold;
  text-transform: uppercase;
}

.playlist__attribution {}

.playlist__made-for {
  color: $tc_black;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 3.4rem;
  font-weight: $bold;
  margin-bottom: 2.2rem;
  text-shadow: 0.05em 0.05em 0.1em rgba(0,0,0,0.4);

  .playlist__author {
    color: lightblue;

    -webkit-transition: color 0.3s ease-in-out;
    transition: color 0.3s ease-in-out;
  }

  strong {}
}

.playlist__title {
  color: $tc_white;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 6.4rem;
  font-weight: $bold;
  text-transform: capitalize;
  text-shadow: 0.05em 0.05em 0.1em rgba(0,0,0,0.4);
  margin-bottom: 2.2rem;
}

.playlist__content {
  overflow: hidden;
}

.playlist-guess__select {
  opacity: 0;

  -webkit-transition: opacity 0.4s ease-in-out;
  transition: opacity 0.4s ease-in-out;
}

.playlist__spotify {
  float: left;
  padding-right: 3.4rem;
}