html, body {
  position: relative;
  width: 100%;
  height: 100%;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
}

#page-snowflakes {}

#page-wrapper {
  position: relative;
  width: 100%;
  height: 100%;
}

#introduction {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 99;

  -webkit-transition: all 1.2s ease-in-out;

  &.is-hidden {
    margin-top: -160%;
  }
}

.page {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  visibility: hidden;
  overflow: hidden;
  backface-visiblity: hidden;
  z-index: 1;

  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);

  > .container {
    opacity: 0;
  }

  .card {
    -webkit-transform: translateY(5rem);
    transform: translateY(5rem);

    -webkit-transition: all 0.8s ease-in-out;
  }
}

.is-current,
.no-js .page {
  visibility: visible;
  opacity: 1;

  -webkit-transition: opacity 0.4s ease-in-out;
  transition: opacity 0.4s ease-in-out;

  > .container {
    opacity: 1;
  }

  .card {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}

.no-js body {
  overflow: auto;
}

#main-content {}

.container {
  min-width: 58rem;
  max-width: 97.8rem;
  width: auto;
  margin-left: auto;
  margin-right: auto;
  padding: 0 3.4rem;
}

#playlists {}

.overlay-element {
  position: absolute;
  left: 0;
  right: 0;
  z-index: 9;
}

#playlists-controls {
  bottom: 0;
}

#playlists-scores {
  top: 0;
}

#results {}