.body {
  color: $tc_darkblue;
  font-family: 'Quintessential', Times, serif;
  font-size: 2.2rem;
  line-height: 1.3;
  text-align: center;
}

.notification {
  color: $tc_black;
  font-family: 'Quintessential', Times, serif;
  font-size: 1.8rem;
  line-height: 1.3;
  margin-bottom: 5.4rem;

  -webkit-transition: all 0.15s ease-in-out;
  transition: all 0.15s ease-in-out;

  &.is-positive {
    color: $tc_bluegreen;
  }

  &.is-negative {
    color: $tc_red;
  }
}