$tc_darkblue: #143e74;
$tc_blue: #add6e4;
$tc_bluegreen: #85b394;
$tc_green: #a7ba59;
$tc_beige: #f0f0d8;
$tc_yellow: #f0d890;
$tc_pink: #ffb6c1;
$tc_red: #ae2f27;

$tc_black: #363636;
$tc_white: #fafafa;